### Symlinked env_conf -- all the actual files are in src/application/config

src/application/env_conf.py

### Build directories ###

bin/
data/
include/
bower_components/
lib/
libs/
tmp/
fonts/
.webassets-cache/
src/application/static/css/
src/application/static/js/


### Scratch/Draft Directory -- like tmp, but not programatically cleared

tmp-code/


### App ###

secrets.py
secret_keys.py
*.p12

### OSX ###

.DS_Store


### Python ###

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
pip-selfcheck.json

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
nosetests.1

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
