{% extends "layouts/base.html" %}

{% block style_block %}
  <link href="/static/css/ajaxy.min.css" rel="stylesheet">
{% endblock style_block %}

{% block flash %}
  {# We remove the base flash and put it under ajaxy_content #}
{% endblock flash %}

{% block content %}

  <div class="ajaxy-content">
    <div class="row">
      <div class="col-xs-12">
        <button id="a-btn" class="btn btn-primary">A</button>
        <button id="b-btn" class="btn btn-primary">B</button>
      </div>
    </div>
    <div class="row">
      <div id="ajaxy-panel" class="col-xs-12">
        {% block ajaxy_content %}
          {% include 'includes/flash_message.html' %} {# page-level feedback notices #}

          {% if state == 'b' %}
            {% include 'ajaxy/b.html' %}
          {% elif state == 'a' %}
            {% include 'ajaxy/a.html' %}
          {% endif %}

        {% endblock %}
      </div>
    </div>
  </div>
{% endblock content %}


{% block tail_script %}{# defer-capable JS block #}
  <script type="text/javascript" src="/static/js/ajaxy.min.js"></script>
{% endblock %}
