{% extends "layouts/base.html" %}

{% block style_block %}
  <link href="/static/css/ajaxy-libs.min.css" rel="stylesheet">
  <link href="/static/css/ajaxy.min.css" rel="stylesheet">
{% endblock style_block %}

{% block flash %}
  {# We remove the base flash and put it under ajaxy_content #}
{% endblock flash %}

{% block content %}

  <div class="container ajaxy-content">
    <div>
      <a href="ajaxy?state=a">A</a>
      <a href="ajaxy?state=b">B</a>
    </div>
    <div id="ajaxy-panel">
      {% block ajaxy_content %}
        {% include 'includes/flash_message.html' %} {# page-level feedback notices #}

        {% if state == 'b' %}
          {% include 'ajaxy/b.html' %}
        {% else state == 'a' %}
          {% include 'ajaxy/a.html' %}
        {% endif %}

      {% endblock %}
    </div>
  </div>
{% endblock content %}


{% block tail_script %}{# defer-capable JS block #}
  <script type="text/javascript" src="/static/js/ajaxy-libs.min.js"></script>
{% endblock %}
