{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% if category == 'error' %}
            {% set icon = 'glyphicon-exclamation-sign' %}
        {% elif category == 'success' %}
            {% set icon = 'glyphicon-ok-sign' %}
        {% else %}
            {% set icon = 'glyphicon-info-sign' %}
        {% endif %}
        {% for category, message in messages %}
          <div id="flash_message" class="alert alert-{{ category }}">
            <span class="glyphicon {{ icon }}" aria-hidden="true"></span>&nbsp;
            <a class="close" data-dismiss="alert">×</a>
            {{ message|safe }}
          </div>
        {% endfor %}
    {% endif %}
{% endwith %}
